@page "/login"
@namespace Brighid.Identity.Auth

<!-- TODO: Style & Process Login -->

<form method="post">
    <input placeholder="Username" />
    <input placeholder="Password" type="password" />
    <input value="Login" type="submit" />
</form>