@namespace Brighid.Identity.Auth
@model Brighid.Identity.Auth.LoginRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@{
    var redirectUri = Uri.EscapeDataString(Model.RedirectUri.ToString());
}

<!-- TODO: Remove Bootstrap -->
<div class="auth-page">
    <div>
        <h1>Brighid Identity</h1>
    </div>
    <form method="post" class="auth-form">
        <div class="form-content">
            <input type="hidden" asp-for="RedirectUri" />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-field">
                <input placeholder="Email" asp-for="Email" class="w-100" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-field">
                <input placeholder="Password" type="password" asp-for="Password" class="w-100" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-actions">
                <input value="Login" type="submit" class="w-25" />
                <div>or <a href="/signup?redirect_uri=@redirectUri">Signup</a></div>
            </div>
        </div>
    </form>
</div>