@namespace Brighid.Identity.Auth
@model Brighid.Identity.Auth.SignupRequest
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<!-- TODO: Remove Bootstrap -->
<form method="post" class="container align-center">
    <input type="hidden" asp-for="RedirectUri" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-field w-100 my-2">
        <input placeholder="Username" asp-for="Username" class="w-100" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-field w-100 my-2">
        <input placeholder="Password" type="password" asp-for="Password" class="w-100" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-field w-100 my-2">
        <input placeholder="Confirm Password" type="password" asp-for="ConfirmPassword" class="w-100" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <input value="Signup" type="submit" class="w-25" />
</form>