@namespace Brighid.Identity.Interface
@inherits LayoutComponentBase

@using Brighid.Identity.Interface.Auth

<AuthorizeView>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <div class="user-box">
                    <a href="#">@context.User.Identity!.Name</a>
                </div>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</AuthorizeView>