.navbar-toggler {
  background: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  line-height: 3.5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform .5s;
}

.navbar-toggler.active {
  transform: rotate(180deg);
}

.navbar-dark {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 15px;
  background-color: var(--primary-color-darker);
}

.navbar-brand {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}

.navbar-menu {
  height: calc(100vh - 3.5rem);
  transition: height .25s ease-out;
  overflow: hidden;
}

.navbar-menu.collapse {
  height: 0;
}

.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item {
  font-size: 0.9rem;
}

.nav-item ::deep a {
  color: #999;
  height: 3rem;
  display: flex;
  padding: 0 15px;
  align-items: center;
  line-height: 3rem;
}

.nav-item ::deep a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  text-decoration: none;
}

.nav-item ::deep a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-decoration: none;
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-menu.collapse {
    /* Never collapse the sidebar for wide screens */
    height: calc(100vh - 3.5rem);
    display: block;
  }
}
