.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 15px;
  background-color: var(--primary-color-darker);
}

.navbar-brand {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
}

.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item {
  font-size: 0.9rem;
}

.nav-item ::deep a {
  color: #999;
  height: 3rem;
  display: flex;
  padding: 0 15px;
  align-items: center;
  line-height: 3rem;
}

.nav-item ::deep a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item ::deep a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
